.marquee {
  width: 100%;
  white-space: nowrap;
  /* background-color: var(--bgColor); */
  overflow: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* border-radius: 7px; */
  position: relative;
  /* padding: .5rem 0; */
  font-family: var(--second-font);
}

.marquee .marqueeList {
  animation: marquee 20s linear infinite;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.marquee .marqueeList:hover {
  animation-play-state: paused;
}
@media only screen and (min-width: 768px) {
  .marquee .marqueeList {
    animation: marquee 30s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-105%);
  }
}
