* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}
body {
  /* background-color: var(--bg-color);a */
}
.cover {
  background-color: #000000af;
  width: 100%;
  height: 100%;
}
.navtop_contacts a {
  font-family: "Source Sans 3", serif;
}
/* button:hover {
  transform: translateY(-4px);
} */
.about_text p {
  /* color: var(--secondary-color); */
}
.countup p {
  /* color: white; */
  font-family: var(--heading-font);
}
.countup span {
  /* color: white; */
}

@media only screen and (min-width: 1024px) {
  .our_projects .project:nth-of-type(2) {
    height: 70vh;
  }
}
.project_details p,
.details_area h1 {
  font-family: var(--heading-font);
}
.swiper {
  width: 100%;
}
footer {
  font-family: var(--heading-font);
}
.footer_box {
  /* width: 33.33%; */
}
.execution li {
  list-style-type: disc;
}

.all-services {
  transition: 0.6s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.service-detail h2 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.service-detail p {
  /* color: var(--secondary-color); */
}
.service_card input,
.service_card textarea,
.contact_page input,
.contact_page textarea {
  border: 1px solid rgba(114, 114, 114, 0.223);
  min-height: 2.8rem;
  padding: 0.4rem 0.5rem;
  /* font-size: 0.9rem; */
  font-weight: 400;
  /* width: 100%; */
}
.service_card textarea,
.contact_page textarea {
  resize: vertical;
  min-height: 12rem;
}
.service_card textarea:focus,
.service_card input:focus,
.contact_page textarea:focus,
.contact_page input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
  transition: 0.3s ease-in-out;
}
.service_card input::placeholder,
.service_card textarea::placeholder,
.contact_page input::placeholder,
.contact_page textarea::placeholder {
  color: rgba(82, 82, 82, 0.671);
  font-size: 0.8rem;
}
